@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/NuevoLayout.cshtml";
}

<h2>Test</h2>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@{
    int num = 87456;
    string text = "yesid betin";
}

<div>
    <p>Hola @text, su numero de documento es @num </p>
</div>