@model  IEnumerable<db_proyecto.Models.producto>

<select class="from-control" id="id_proveedor" name="id_proveedor">

    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>

    }
</select>

