@model  IEnumerable<db_proyecto.Models.cliente>

<select class="from-control" id="id_usuario" name="id_usuario">

    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>

    }
</select>
