@model IEnumerable<db_proyecto.Models.proveedor>

<select class="form-control" id="id_proveedor" name="id_proveedor">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
    }
</select>
